**Problem 1**

Write a python function that takes a number as parameter and prints the multiplication table of that number

In [3]:
def number(n):
  for mulitiplicant in range(1, n+1):
    print(mulitiplicant, "x", n, "=", mulitiplicant*n)

number(5)

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25

**Problem 2**

Write a simple python function that returns twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

Pairs of primes that differ by 2. For example, 3 and 5, 5 and 7, 11 and 13, and 17 and 19 are twin primes.

In [157]:
def twin_prime(num): 
    prime = [2,3]
    for i in range(4,num):#15
        for j in prime: # [2,3,5,7,11,13]
            if i%j ==0:
                break
        else:
            prime.append(i)

    for i in range(len(prime)-1):
        if prime[i+1]-2 == prime[i]:
            print(f"{prime[i]-2} and {prime[i+1]-2} ")
    else:
        print("are twin primes")

twin_prime(1000)

1 and 3
3 and 5
9 and 11
15 and 17
27 and 29
39 and 41
57 and 59
69 and 71
99 and 101
105 and 107
135 and 137
147 and 149
177 and 179
189 and 191
195 and 197
225 and 227
237 and 239
267 and 269
279 and 281
309 and 311
345 and 347
417 and 419
429 and 431
459 and 461
519 and 521
567 and 569
597 and 599
615 and 617
639 and 641
657 and 659
807 and 809
819 and 821
825 and 827
855 and 857
879 and 881
are twin primes

In [53]:
#For example, (3,5) are twin primes, since the difference between the two numbers 5 â€“ 3 = 2
num = 0
if num < 2:

def prime(num):
  count = 0
  result = []
  n=1
  while count < num:
    isPrime = True
    n +=1
    for numb in range(2, n):
      if (n+2) % numb ==0:
        result.append(numb)
        isPrime = False
    if isPrime:
      print(zip(str(n)))
      count += 1


prime(1000)
tafaham

IndentationError: expected an indented block after 'if' statement on line 3 (131636811.py, line 5)

**Problem 3**

Write a simple python function that takes a number as parameter and returns  the prime factors of that number. Prime Factorization is finding which prime numbers multiply together to make the original number.

Example: prime factors of 56 - 2, 2, 2, 7

In [2]:
def prime_fac(num):
    factors = []
    divisor = 2

    while num > 1:
        while num % divisor == 0:
            factors.append(divisor) 
            num //= divisor
        divisor += 1
    return factors

prime_fac(56)

[2, 2, 2, 7]

In [ ]:
### WRONGG logic againn
def prime_fact(num): 
  while True:
    result = num//2
    result = result //2
    result = result//result
    if result== 1: 
      break
  print(result)
prime_fact(56)

1

**Problem 4**

Write a function that inputs a number and returns the product of digits of that number.

In [42]:
## DIA NAK MULTIPLICATION OF THE nuMBeR

def product(num):
    total = 1
    while num >0:
        a = num % 10 
        total = total*a
        num = num // 10

    print(total)

product(25)

10

In [ ]:
## return product of digits? ape kau nak? total addition of the number ke
## SALAH NI PRINT APE TETAU

def product(num):
    sum = 0
    products =[]

    for i in range(1, num+1):
        sum = sum + int(i) 
        products.append(sum)
        if sum == num:
            break
    i += 1
    print(products)
    

n= int(input("Enter number of product"))
product(n)

[1, 3, 6, 10, 15]

**Problem 5**

Write a function that takes a number as parameter. The function finds the proper divisors of that number and then finds the sum of proper divisors. Proper divisors of a number are those numbers by which the number is divisible, except the number itself.

For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

In [19]:
def proper_divisor(num):
    pd = []  
    result = 0
    while result < num: 
        for i in range(1, num):
            if num % i == 0:
                result = result + i  
                pd.append(i)   
        print(pd)
        i += 1 
    
    return(sum(pd))

proper_divisor(36)

[1, 2, 3, 4, 6, 9, 12, 18]

55

**Problem 6**

A number is called perfect if the sum of proper divisors of that number is equal to the number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to print all the perfect numbers in a given range

In [17]:
def pn(num):
    n = 1
    count = 0
    while count < 4:
        sum = 0
        for i in range(1, n):
            if n % i == 0:
                sum +=i
        if sum == n:
            print(n)
            count += 1
        n += 1
pn(4)

6
28
496
8128

**Problem 7**

Write a python function that takes 2 parameters lower and upper (range). Let the function returns pairs of amicable numbers in that range.

Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.

For example if we call that function: amicableNumbers(1, 1000)

The function must return: **[220, 284]**


*Why they are amicable numbers ?*

Sum of proper divisors of **220** = 1+2+4+5+10+11+20+22+44+55+110 = **284**

Sum of proper divisors of **284** = 1+2+4+71+142 = **220**

In [178]:
mydict ={
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : 4
}
print(mydict["c"])

3

In [186]:
def proper_divisor(num):
    properlist = []
    for i in range (1,num//2+1):
        if num%i == 0:
            properlist.append(i)
    else:
        return sum(properlist)
def amicable(lower, upper):
    num = [i for i in range(lower,upper+1)]
    sumofpd = [proper_divisor(k) for k in range(lower,upper+1)]
    
    mydict = {}
    result = []
    for i in range(len(num)):
        mydict[num[i]] = sumofpd[i]
    for k,v in mydict.items():
        if v in mydict.keys() and k == mydict[v] and k != v and k not in result and v not in result:
            result.append(k)
            result.append(v)
    print(result)
amicable(1, 1000)

[220, 284]

In [158]:
# the addition of proper divisor is total of the pair

def amicable(lower, upper):
    count = 0
    properdivisor = []
    while count < upper:
        sum = 0
        for i in range(1, upper):
            if upper % i == 0:
                properdivisor.append(i)
                sum = sum + i      
        return properdivisor
        i += 1     
    count += 1  

amicable(1, 1000)

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500]

**Problem 8**

Write a python function that takes variable length parameters and returns maximum and minimum number in the parameter numbers.

For example if we call the function: maximumMinimum(10, 20, 30, 40, 50)

The function must return: **[10, 50]**

In [51]:
def lenght(*num): 
    
    minimum = min(num)
    maximum = max(num)
    print([minimum, maximum])

lenght(10,20,30,40,50)

[10, 50]

**Problem 9**

Write a simple Python function that takes a number(n) as a parameter. Then the function prints out the first n rows of Pascal's triangle. Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.



![pascaltriangle.png]()

In [63]:
#multiple row and multiple columns

rows = int(input("Enter number of rows: "))
col = rows*2 -1
space = [[" "for i in range(col)]for i in range(rows)]
index_mid = (col-1)//2

for i in range(len(space)):
    if i == 0:
        space[i][index_mid] = 1 #why  =1 ?
    else:
        space[i][index_mid-i] = 1 #ni apa 
        space[i][index_mid+i] = 1 #
    if i > 1:
        for j in range(index_mid-i+2,index_mid+i,2):
            space[i][j] = space[i-1][j-1] + space[i-1][j+1]

for i in space:
    print(i)
result = ""
for i in space:
    for j in i:
        result += str(j)
    else:
        result+= "\n"

print(result)

[' ', ' ', ' ', ' ', 1, ' ', ' ', ' ', ' ']
[' ', ' ', ' ', 1, ' ', 1, ' ', ' ', ' ']
[' ', ' ', 1, ' ', 2, ' ', 1, ' ', ' ']
[' ', 1, ' ', 3, ' ', 3, ' ', 1, ' ']
[1, ' ', 4, ' ', 6, ' ', 4, ' ', 1]
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

**Problem 10**

Write a simple python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Sample Items : green-red-yellow-black-white

Expected Result : black-green-red-white-yellow

In [ ]:
def colors(color):  
    color = color.split("-")
    color.sort()
    print("-".join(color)) 

colors("green-red-yellow-black-white")

black-green-red-white-yellow

**Problem 11**

Flatten a List of Lists
Write a Python program to flatten the given list into a single list using list comprehension.

Given list:
[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

Expected result:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
n = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flat= [num for sublist in n for num in sublist ]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Problem 12:**

Write a simple python function that accepts a sentence and extract all the vowels from the sentence using list comprehension.

Input: "The quick brown fox jumps over the lazy dog"

Expected Result: ['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'a', 'o']

In [71]:
def text(sentence): 
    result = [char for char in sentence if char in "aeiouAEIOU"]
    print(result)

a = input("Enter a sentence")
text(a)

['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'e', 'a', 'o']

In [ ]:
def text(*sentence): 
    v = "aeiouAEIOU"
    f = []
    count = 0
    for char in sentence:
        if char in v:
            f.append(char)   
            count += 1 
    print(f, count)

a = input("Enter a sentence")
text(a)

[] 0

**Problem 13:**

Matrix Transposition

Write a simple python function that accepts a 3x3 matrix and transpose the matrix using list comprehension.

Input:

1, 2, 3

4, 5, 6

7, 8, 9


Expected Result:

Given matrix: [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

Transponsed Matrix: [
    [1, 4, 7],
    [2, 5, 8],
    [3, 6, 9]
]

In [82]:
def transpose(matrix):
    transp = [[matrix[j][i] for j in  range(len(matrix))] for i in range(len(matrix[0]))] 
    print(transp)

result = transpose([
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
])

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

**Problem 14:**

Find Maximum Number

Write a simple python function that accepts list of numbers and find the maximum number in a list using the reduce function.

Input:
3, 5, 2, 8, 1

Expected Result: 8

In [25]:
from functools import reduce
def maximum(old, new):
    if old>new:
        new=old
    return new

num = [3, 5, 2, 8, 1]
print(reduce(maximum,num))

8

In [ ]:
from functools import reduce
def maximum(*value):
    m = max(value)
    return m
#guna reduce

maximum(3, 5, 2, 8, 1)

8

**Problem 15:**

Filter Names Starting with a Specific Letter

Write a simple python function that accepts list of names and filter out all names that start with the letter 'A' using the filter function.

Input: "Alice", "Bob", "Anna", "Charlie", "Annie"

Expected: 'Alice', 'Anna', 'Annie'

In [111]:
def letterA(char):
    return char[0] == "A"

Names =["Alice", "Bob", "Anna", "Charlie", "Annie"]
a= filter(letterA, Names)
print(list(a))

['Alice', 'Anna', 'Annie']

In [ ]:
### WOI DIA SURUH GUNA FILTER FUNCTION
def letterA(*char):
    
    for c in char:
        if c[0] == "A":
            print(c) 

letterA("Alice", "Bob", "Anna", "Charlie", "Annie")

Alice
Anna
Annie

**Problem 16:**

Square and Filter Odd Numbers

Write a Python program that accepts list of numbers and create a list of squares of odd numbers from a given list of integers using map and filter functions.

Input: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

Expected Result: 1, 9, 25, 49, 81

In [ ]:
def toSquare(value):
    return value**2

def odd(num):
    return num % 2 != 0

mynum = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
square= map(toSquare, mynum)
oddd = filter(odd, mynum) 
print(list(square))
print(list(oddd))

[1, 9, 25, 49, 81]

**Problem 17:**

Fibonacci Sequence

Write a recursive Python function to find the n-th Fibonacci number. The Fibonacci sequence is defined as:

1. F(0) = 0
2. F(1) = 1
3. F(n) = F(n-1) + F(n-2) for n > 1

In [ ]:
# for loop to find fiboncai

# then sumbat recursive

**Problem 18:**

Write a recursive Python function to check if a given string is a palindrome (reads the same forwards and backwards).

Input: "radar"

Expected Result: True

In [96]:
def reverse(char):
    if char == char[::-1]:
        return True     
    else:
        print(char)
        reverse(char- 1)

reverse("radar")

True

**Problem 19:**

Compose Functions

Write a Python function *def compose (f, g)* that takes any two functions f and g as parameter, and returns a *new function h* such that h(x) = f(g(x)).

Note: The function f and g are taking single parameter.

In [97]:
def f (x):
  return x**2

def g (x):
  return x/8

def compose(f,g):
  def h(a,b):
    y = a(b(int(input())))
    return y
  return h(f,g)

hx = compose(f,g)
print(hx)

0.0625

In [111]:
#dia nak  new fx berbeza beza , define je apa apa 
def f (x):
  return x**2

def g (x):
  return x/8

def compose(f,g):
  def h(a,b):
    y = a(b(int(input())))
    return y
  return h(f,g)

hx = compose(f,g)
print(hx)

2.25

**Problem 20**

Implement a decorator called count_calls that keeps track of how many times a function has been called.

*Decorator function*

def count_calls(func):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Your code here

*Function with decorator*

@count_calls<br/>
def greet(name):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;print(f"Hello, {name}!")

greet("Alice")
greet("Bob")

Expected Output:

Function 'greet' was called 2 times.

In [110]:
def count_decorator(func):
   def count_function(*args, **kargs):
      count_function.call +=1
      print("Decorator: before the function calls")
      result =func(*args, **kargs)
      print("Decorator: after the function calls")
      print(f"Function '{func._name_}' was called {count_function.call} times.")
      return result
   count_function.call = 0
   return count_function


@count_decorator
def greet(name):
   print(f"Hello, {name}!")

greet("Alicia")
greet("Bob")

Decorator: before the function calls
Hello, Alicia!
Decorator: after the function calls

AttributeError: 'function' object has no attribute '_name_'

**Problem 21: Shopping Cart**

Create a function add_to_cart(item, quantity=1, price_per_item=5) that calculates the total cost for adding an item to a shopping cart. If quantity or price_per_item is not specified, assume default values. Return a dictionary with the item name, quantity, price per item, and total cost. For example:

**Input**

add_to_cart("Apple")

**Output**

{"item": "Apple", "quantity": 1, "price_per_item": 5, "total_cost": 5}

**Input**

add_to_cart("Banana", 3, 2)

**Output**

{"item": "Banana", "quantity": 3, "price_per_item": 2, "total_cost": 6}

In [64]:
def add_to_cart(item, quantity=1, price_per_item=5):
  total_cost = quantity * price_per_item

  cart = {
      "item": item,
      "quantity": quantity,
      "price_per_item": price_per_item,
      "total_cost": total_cost
      }
  return cart

print(add_to_cart("Banana", 3, 2))

{'item': 'Banana', 'quantity': 3, 'price_per_item': 2, 'total_cost': 6}

**Problem 22: Flexible Greeting**

Define a function

multi_greet(name="Friend", *messages)

that accepts a name and an arbitrary number of greeting messages. If no messages are provided, greet with "Hello". Test with and without providing additional greetings.

In [101]:
#arbtrary is any number

def multi_greet(name="Friend", *messages):
    if not messages:
        print(f"Hello {name}")
    else:
        Join = " ".join(messages)
        print(f"Hello {name} {Join}") 

multi_greet()
multi_greet("Nora","Goodluck!", "Do the best!")

Hello Friend
Hello Nora Goodluck! Do the best!

**Problem 23: Personal Information**

Write a function display_info(**kwargs) that accepts any number of named arguments and returns a formatted string with the person's information. For example:

**Input**

display_info(name="Alice", age=25, city="New York")

**Ouput**

"Name: Alice, Age: 25, City: New York"

**Input**

display_info(name="Bob", country="USA")

**Output**

"Name: Bob, Country: USA"

In [ ]:
def display_info(**kwargs):
    print("Name:",kwargs["name"])
    print("Age:",kwargs["age"])
    print("City:",kwargs["city"])
    print("Country:",kwargs["country"])
    
def display_infoo(**kwargs):
    print("Name:",kwargs["name"]) 
    print("Country:",kwargs["country"])

display_info(name="Alice", age=25, city="New York")
display_infoo(name="Bob", country="USA")

Name: Alice
Age: 25
City: New York

KeyError: 'country'

**Problem 24: Build a URL Query**

Define a function build_url(base, **params) that builds a URL from a base and a series of query parameters. For example:

**Input**

build_url("https://example.com", search="python", page=2)

**Output**

https://example.com?search=python&page=2

**Input**

build_url("https://example.com")

**Output**

https://example.com

In [105]:
#corrected ai

def build_url(base, **params):
    if params:
        query_string = "&".join([f"{key}={value}" for key, value in params.items()])
        return f"{base}?{query_string}"
    return base

result = build_url("https://example.com", search="python", page=2)
print(result)

https://example.com?search=python&page=2

In [104]:
def build_url(base, **params):
    for _ in params:
        print(f"{base}?search={params["search"]}&page={params["page"]}")
    else:
        return base

build_url("https://example.com", search="python", page=2)

https://example.com?search=python&page=2
https://example.com?search=python&page=2

'https://example.com'

**Problem 25: Student Grades**

Create a function

calculate_grades(student_name, *scores, **details)

that calculates the average score for a student. The details dictionary may contain additional information like subject="Math", level="Grade 10". For example:

**Input**

calculate_grades("Alice", 90, 85, 88, subject="Math", level="Grade 10")

**Output**

Alice's average in Math (Grade 10): 87.7

**Input**

calculate_grades("Bob", 70, 65, 80)

**Output**
Bob's average: 71.7

In [107]:
def calculate_grades(student_name, *scores, **details):
    result = 0.0
    for i in scores:
        result = result + float(i)
    i +=1
    return result / float(len(scores))
    
calculate_grades("Alice", 90, 85, 88, subject="Math", level="Grade 10")

87.66666666666667